@media screen {
  .progressSection {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .weeklyProgress {
    gap: 10px;
    display: flex;
    padding: 10px;
    border-radius: 15px;
    flex-direction: column;
    background-color: var(--background-color);

  }

  .sectionTitle {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .sectionTitle h3 {
    font-size: 1.1rem;
    color: var(--secondary-color);
    font-family: var(--font-poppins-regular);
  }

  .overviewIcon {
    font-size: 24px;
    color: var(--secondary-color);
  }

  .progressDetails {
    gap: 10px;
    display: flex;
    padding: 10px 0;
    overflow-x: auto;
    flex-wrap: nowrap;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
  }

  .progressDetails::-webkit-scrollbar {
    display: none;
  }

  .progressRow {
    gap: 10px;
    flex-grow: 1;
    width: 200px;
    padding: 10px;
    display: flex;
    cursor: pointer;
    min-width: 250px;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: center;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .progressTitle {
    gap: 10px;
    display: flex;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-light-color);
  }

  .progressTitle h3 {
    font-size: 0.8rem;
    text-transform: capitalize;
    font-family: var(--font-poppins-light);
  }

  .progressIcon {
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: var(--background-color);
  }

  .chartContainer {
    flex: 1;
    gap: 20px;
    width: 100%;
    display: flex;
    min-height: 300px;
    position: relative;
    flex-direction: column;
    justify-content: center;
  }

  .patternDetection {
    gap: 20px;
    padding: 10px;
    display: flex;
    height: 100%;
    flex: 1;
    border-radius: 15px;
    flex-direction: column;
    background-color: var(--background-color);
  }

  .patternInfo p {
    color: var(--tertiary-color);
  }

  /* when their is no data  */
  .emptyCard {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
    background-color: var(--background-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .progressSection {
    height: 100%;
    
  }

  .StatisticsComponent {
    min-height: 0;
  }
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
